*{margin:0;
  padding: 0;
  box-sizing: border-box;}

.contenitore-body{width: 80%;
                  margin: auto;
                  font-family: sans-serif;
                  }

/* Setto header e logo  */

.header{margin-bottom: 20px;}

.brend img{width: 10%;
           padding-bottom: 25px;
            }

/* realizzo la barra dei nav con un lista stilizzata */

nav ul{ list-style: none;
        margin-left:-5px;}

nav ul li{ display:inline-block;}

nav ul li a{ padding: 15px 5px;
            text-decoration: none;
            color:grey;
            font-size: 14px;}

/* dò uno stile al passaggio del mouse sul link */

nav ul li a:hover{ color:white;
                   background-color: lightslategrey;
                   border-radius: 8px;
                   }

/* Inizio a lavorare al main in particolare al hero */

.hero{margin-top: 20px;
      width: 100%;
      height: 450px;}

      /* ********************************* */
/* Realizzo una classe overlay da riutilizzare */

.content-overlay {position: relative;            
                  border-radius: 20px;
                  overflow: hidden;
                  display: inline-block;
                 }

/* Setto l'immagine del hero */

.hero img { width: 100%;
            height: 100%;
            object-fit: cover;
            
            }
/* ********************************* */
/* Setto la classe overlay da riutilizzare */

.overlay{ width: 100%;
          height: 100%;
          background: rgba(128, 128, 128, 0.3);
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          
 }

 /* Inizio a settare il title del hero */

 .hero-title{ color:white;
              font-size: 15px; 
              width: 50%;
              position: absolute;
              bottom: 16%;
              left:5%; 
              z-index: 2;}

/* set titolo del contenuto del main */
.contenuto-header{margin: 30px 0;}

.contenuto-header p{color: rgb(191, 191, 191)}

/* inizio a lavorare al contenuto delle tre colonne su stessa riga del main */

/* do la struttura alle tre colonne */

.row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .col {
    float: left;
    width: 25%;
        
  }
  
  .col-center {
    width: calc(50% - 50px);
    margin: 0 20px;
  }

/* Setto le dimensioni per ogni singola immagine essendo di dimensioni diverse */
.col img { width: 100%;
              height: 100%;
              object-fit: cover;}

.col-center img{width: 90%;
                object-fit: cover;}

.col-destra img { width: 165%;
                  height: 160%;
                  object-fit:contain;}

/* Set titolo e articolo */
.row .col .row-titolo{ padding: 20px 0;
                        color: grey;}

.row .col .row-articolo{color:rgb(191, 191, 191);
                        text-align: justify;}


/* Set footer */
footer{ text-align: center;
        font-size: medium;
        padding: 30px;}

footer span::after {content: "\2764";
                    color:red;
                    font-size: large;
                    padding-left: 20px;}